@charset "utf-8";
@import "base/_setting.scss";

//------------------------------------------------------------------------------
//
//	kekka page
//  
//------------------------------------------------------------------------------

.kekka {
  &.active {
    &::before{
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 9;
      pointer-events: none;
    }
  }
  .avatar_area {
    position: relative;
    background: url(../assets/images/bg.jpg) repeat-y center center/100%;
    z-index: 1;
    padding-top: 12%;
    &.active{
      overflow: hidden;
      max-height: 100vh;
    }
    &.bg_02 {
      background: #cbb4ff;
    }
    &.bg_03 {
      background: #ffa3c6;
    }
    &.bg_04 {
      background: #ffa664;
    }
    &.bg_05 {
      background: #79f5d3;
    }
    &.bg_06 {
      background: #77c1ff;
    }
    .btn-home {
      position: absolute;
      width: 80px;
      height: 80px;
      top: 2.8%;
      left: 6.5%;
      z-index: 9;
      cursor: pointer;
      &.right{
        left: inherit;
        right: 6.5%;
        @include sp {
          right: 5%;
        }
      }
      @include sp {
        width: 40px;
        height: 40px;
        top: 4%;
        left: 5%;
      }
    }
    .avatar {
      margin-bottom: -9vh;
      &.active{
        &::before{
          opacity: 1;
        }
      }
      &::before{
        content: '';
        position: absolute;
        top: -9%;
        bottom: 10%;
        background: url(/img/bg_light.e88c6a21.png) no-repeat center bottom/100%;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: 2;
      }
      img{
        &:first-child{
          top: 50%;
          transform: translateY(-50%);
        }
      }
      @include sp{
        transform: translateY(0);
        top: 0;
        margin-bottom: -4vh;
      }
      .result-wrapper {
        position: relative;
        z-index: 3;
        img{
          &:first-child{
            position: relative;
            top: 0;
            transform: translate(0);
          }
          position: absolute;
          left: 0;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .result {
        position: absolute;
        top: -12vw;
        width: 100%;
        z-index: 3;
        transform: none;
        opacity: 0;
        height: 100%;
      }
    }
  }
  &.share{
    .avatar{
      margin-bottom: 0;
    }
  }
  .save {
    background: #fff;
    color: #1b1b1b;
    text-align: center;
    font-size: 27px;
    line-height: (28/27);
    font-weight: bold;
    padding: 2% 0;
    position: relative;
    z-index: 3;
    @include sp {
      font-size: 13.5px;
    }
  }
  .share_bottom {
    position: relative;
    z-index: 3;
    .left{
      display: none;
    }
    .right{
      width: 118px;
      @include sp{
        width: 58px;
      }
    }
  }
  .ttl{
    font-size: 50px;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 3% 5%;
    @include sp{
      font-size: 25px;
    }
  }
  .content_present{
    background: #f986c4;
    .box{
      border-style: solid;
      border-width: 3px;
      border-color: rgb(31, 31, 31);
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      margin: 0 7%;
      position: relative;
      @include sp{
        border-width: 2px;
        border-radius: 10px;
      }
      .k-progress-outer-line {
        border-radius: 10px;
        @include sp {
          border-radius: 3px;
        }
      }
      &:nth-of-type(1){
        padding: 5% 6% 6%;
        margin-bottom: 2%;
        dl{
          display: flex;
          align-items: center;
          &:not(:last-child){
            margin-bottom: 1%;
          }
          dt{
            width: 33%;
            font-size: 24px;
            text-align: right;
            font-weight: bold;
            line-height: (28/24);
            margin-right: 4%;
            @include sp{
              font-size: 12px;
            }
          }
          dd{
            width: calc(100% - 37%);
            .present_item{
              width: 100%;
              font-size: 22px;
              font-weight: bold;
              color: #fff;
              text-align: center;
              position: relative;
              .k-progress-text {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                color: #fff;
                margin: 0;
                @include sp {
                  font-size: 9px;
                }
              }
              .k-progress{
                margin: 0;
                &.zero{
                  padding-left: 15px;
                  .k-progress-text {
                    @include sp {
                      font-size: 11px;
                    }
                  }
                  &.orange{
                    .k-progress-text{
                      color: #ffb607;
                    }
                  }
                  &.blue{
                    .k-progress-text{
                      color: #29a7ff;
                    }
                  }
                  &.yell{
                    .k-progress-text{
                      color: #ffec4c;
                    }
                  }
                  &.pink{
                    .k-progress-text{
                      color: #f986c4;
                    }

                  }
                  &.aqua{
                    .k-progress-text{
                      color: #63e2d5;
                    }

                  }
                  &.red{
                    .k-progress-text{
                      color: #ff674e;
                    }

                  }
                }
              }
              .k-progress-outer{
                margin-right: 0; 
                padding-right: 0;
              }
              .k-progress-outer-bg-border{
                background: none !important;
              }
              .k-progress-outer-line{
                @include pc {
                  height: 30px !important;
                }
                margin-top: -30px;
              }
              @include sp {
                font-size: 12px;
              }
            }
          }
        }
      }
      &:nth-of-type(2){
        .txt{
          font-size: 28px;
          line-height: 1;
          text-align: center;
          font-weight: bold;
          padding: 5% 0;
          dt{
            padding-bottom: 2%;
          }
          span{
            display: inline-block;
            color: #fff;
            padding: 2px 4px 3px;
            border-radius: 5px;
            margin-right: 5px;
            &.orange {
              background: #ffb607;
            }
            &.blue {
              background: #29a7ff;
            }
            &.yell {
              background: #ffec4c;
            }
            &.pink {
              background: #f986c4;
            }
            &.aqua {
              background: #63e2d5;
            }
            &.red {
              background: #ff674e;
            }
          }
          @include sp {
            font-size: 14px;
          }
        }
      }
      
    }
    .note{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      padding: 3% 0 5.5%;
      @include sp {
        font-size: 10px;
      }
    }
    
  }
  .content_colection{
    background: #5dd1ff;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background: url(../assets/images/img_diver.png) no-repeat center center/cover;
      width: 137px;
      height: 111px;
      top: 15px;
      left: 70px;
      @include sp{
        width: 70px;
        height: 55px;
        top: 10px;
        left: 9%;
      }
    }
    .ttl{
      padding-top: 4%;
      padding-bottom: 5%;
    }
    .box-items{
      
      .item{
        border-style: solid;
        border-width: 3px;
        border-color: rgb(31, 31, 31);
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        position: relative;
        margin: 0 5% 3%;
        overflow: hidden;
        @include sp {
          border-width: 2px;
          border-radius: 10px;
        }
        h3 {
          color: #fff;
          text-align: center;
          font-size: 36px;
          font-weight: bold;
          line-height: 1.5;
          padding: 2% 0 1.5%;
          background: #29a7ff;
          @include sp {
            font-size: 18px;
            
          }
        }
        &-box{
          display: flex;
          align-items: center;
          &__left{
            width: 45%;
            padding: 3% 3% 3% 5%;
          }
          &__right{
            width: 55%;
            padding: 3% 5% 6% 3%;
            h4{
              font-size: 24px;
              font-weight: bold;
              line-height: (32/24);
              @include sp{
                font-size: 12px;
              }
            }
            .des{
              margin: 0 0 5%;
              line-height: (32/22);
              font-size: 22px;
              @include sp{
                font-size: 11px;
              }
            }
            .btn-more{
              @include hover{
                p{
                  bottom: -10px;
                }
              }
              p{
                position: relative;
                z-index: 3;
                text-align: center;
                font-weight: bold;
                color: #fff;
                bottom: 0;
                @include transition;
                
              }
            }
          }
        }
      }
    }
    .photo{
      padding: 2% 28% 3% 29%;
    }
  }
  .box-play + .share_bottom{
    .ttl-share{
      padding: 3% 0 1%;
    }
    .left{
      
      left: 5%;
      top: 32%;
      display: block;
      @include sp{
        width: 75px;
      }
    }
    .right{
      right: 2%;
      top: 14%;
      width: 186px;
      @include sp{
        width: 96px;
      }
    }
  }
  .box-copy{
    background: #fef734;
    outline: 0;
    text-align: center;
    padding: 1% 0 12%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    .copy-url{
      position: relative;
      min-width: 56%;
      display: inline-block;
      margin: auto;
      border-style: solid;
      border-width: 3px;
      border-color: rgb(31, 31, 31);
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      font-size: 22px;
      font-weight: bold;
      padding: 2% 3%;
      margin: 1% 0;
      &::before{
        content: "Copied";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        background: #5dd1ff;
        padding: 2% 6%;
        border-radius: 10px;
        font-size: 18px;
        opacity: 0;
        @include transition;
      }
      &.open{
        &::before{
          opacity: 1;
          top: -70%;
        }
      }
      @include sp{
        border-width: 2px;
        border-radius: 8px;
        font-size: 11px;
        &::before{
          font-size: 11px;
        }
      }
    }
  }
  .play-again {
    .popup__content_box {
      padding: 0;
    }
    .txt{
      font-size: 22px;
      font-weight: bold;
      padding: 5% 0 4%;
      line-height: (32/22);
      @include sp{
        font-size: 11px;
      }
    }
    ul{
      display: flex;
      justify-content: space-between;
      padding: 0 9% 10%;
      li{
        width: 48%;
       &:first-child{
        &::after{
          background: #8dc3f5;
         }
       }
        span{
          position: relative;
          color: #fff;
          z-index: 3;
          font-weight: bold;
          font-size: 50px;
          bottom: 0;
          line-height: 1;
          @include transition;
          @include sp{
            font-size: 25px;
          }
        }
        @include hover{
          span{
            bottom: -10px;
          }
        }
      }
    }


  }
}
