@charset "utf-8";
@import "base/_setting.scss";

//------------------------------------------------------------------------------
//
//	kekka page
//  
//------------------------------------------------------------------------------

.kekka{
  background: url(/img/bg.af898849.jpg) repeat-y top center/100%;
  position: relative; 
  &.active{
    overflow: hidden;
    max-height: 100vh;
  }
  .btn-home{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50px;
    left: 50px;
    z-index: 9;
    cursor: pointer;
    &.right{
      left: inherit;
      right: 50px;
      @include sp{
        right: 6%;
      }
    }
    @include sp{
      width: 40px;
      height: 40px;
      top: 20px;
      left: 6%;
    }
  }
  .confirm-img{
    position: relative;
    &.active{
      &::before{
        opacity: 1;
      }
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background: url(../assets/images/bg_light.png) no-repeat center center/ 100% 100%;
      left: 0;
      right: 0;
      z-index: 0;
      opacity: 0;
    }
    img{
      position: relative;
    }
  }
  .save{
    background: #fff;
    color: #1b1b1b;
    text-align: center;
    font-size: 27px;
    line-height: (28/27);
    font-weight: bold;
    padding: 2% 0;
    @include sp{
      font-size: 13.5px;
    }
  }
  .share_bottom{
    .left{
      display: none;
    }
    .right{
      width: 118px;
      @include sp{
        width: 58px;
      }
    }
  }
  .ttl{
    font-size: 50px;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 3% 5%;
    @include sp{
      font-size: 25px;
    }
  }
  .content_present{
    background: #f986c4;
    .box{
      border-style: solid;
      border-width: 3px;
      border-color: rgb(31, 31, 31);
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      margin: 0 7%;
      position: relative;
      @include sp{
        border-width: 2px;
        border-radius: 10px;
      }
      &:nth-of-type(1){
        padding: 5% 6% 6%;
        margin-bottom: 2%;
        dl{
          display: flex;
          align-items: center;
          &:not(:last-child){
            margin-bottom: 1%;
          }
          dt{
            width: 33%;
            font-size: 24px;
            text-align: right;
            font-weight: bold;
            line-height: (28/24);
            margin-right: 4%;
            @include sp{
              font-size: 12px;
            }
          }
          dd{
            width: calc(100% - 37%);
            .present_item{
              width: 100%;
              font-size: 22px;
              font-weight: bold;
              color: #fff;
              text-align: center;
              position: relative;
              .k-progress-text{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                color: #fff;
                margin: 0;
                @include sp{
                  font-size: 11px;
                }
              }
              .k-progress{
                margin: 0;
              }
              .k-progress-outer{
                margin-right: 0;
                padding-right: 0;
              }
              .k-progress-outer-bg-border{
                background: none !important;
              }
              .k-progress-outer-line{
                height: 30px !important;
                margin-top: -30px;  
              }
              @include sp{
                font-size: 12px;
              }
            }
          }
        }
      }
      &:nth-of-type(2){
        .txt{
          font-size: 28px;
          line-height: 1;
          text-align: center;
          font-weight: bold;
          padding: 5% 0;
          dt{
            padding-bottom: 2%;
          }
          span{
            display: inline-block;
            color: #fff;
            background: #ffb607;
            padding: 2px 4px 3px;
            border-radius: 5px;
            margin-right: 5px;
          }
          @include sp{
            font-size: 14px;
          }
        }
      }
      
    }
    .note{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      padding: 3% 0 5.5%;
      @include sp{
        font-size: 10px;
      }
    }
    
  }
  .content_colection{
    background: #5dd1ff;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background: url(../assets/images/img_diver.png);
      width: 137px;
      height: 111px;
      top: 15px;
      left: 70px;
    }
    .ttl{
      padding-top: 4%;
      padding-bottom: 5%;
    }
    .box-items{
      
      .item{
        border-style: solid;
        border-width: 3px;
        border-color: rgb(31, 31, 31);
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        position: relative;
        margin: 0 5% 3%;
        overflow: hidden;
        @include sp{
          border-width: 2px;
          border-radius: 10px;
        }
        h3{
          color: #fff;
          text-align: center;
          font-size: 36px;
          font-weight: bold;
          line-height: 1.5;
          padding: 2% 0 1.5%;
          background: #29a7ff;
          @include sp{
            font-size: 18px;
            
          }
        }
        &-box{
          display: flex;
          &__left{
            width: 45%;
            padding: 10% 3px 6% 5%;
          }
          &__right{
            width: 55%;
            padding: 3% 5% 6% 3%;
            h4{
              font-size: 24px;
              font-weight: bold;
              line-height: (32/24);
              @include sp{
                font-size: 12px;
              }
            }
            .des{
              margin: 0 0 5%;
              line-height: (32/22);
              font-size: 22px;
              @include sp{
                font-size: 11px;
              }
            }
            .btn-more{
              @include hover{
                p{
                  bottom: -10px;
                }
              }
              p{
                position: relative;
                z-index: 3;
                text-align: center;
                font-weight: bold;
                color: #fff;
                bottom: 0;
                @include transition;
                
              }
            }
          }
        }
      }
    }
    .photo{
      padding: 2% 28% 3% 29%;
    }
  }
  .box-play + .share_bottom{
    .ttl-share{
      padding: 3% 0 1%;
    }
    .left{
      
      left: 5%;
      top: 32%;
      display: block;
      @include sp{
        width: 75px;
      }
    }
    .right{
      right: 2%;
      top: 14%;
      width: 186px;
      @include sp{
        width: 96px;
      }
    }
  }
  .box-copy{
    background: #fef734;
    text-align: center;
    padding: 1% 0 12%;
    cursor: pointer;
    
    .copy-url{
      position: relative;
      width: 56%;
      display: inline-block;
      margin: auto;
      border-style: solid;
      border-width: 3px;
      border-color: rgb(31, 31, 31);
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      font-size: 22px;
      font-weight: bold;
      padding: 2% 0;
      margin: 1% 0;
      &::before{
        content: "Copied";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        background: #5dd1ff;
        padding: 2% 6%;
        border-radius: 10px;
        font-size: 18px;
        opacity: 0;
        @include transition;
      }
      &.open{
        &::before{
          opacity: 1;
          top: -70%;
        }
      }
      @include sp{
        border-width: 2px;
        border-radius: 8px;
        font-size: 11px;
        &::before{
          font-size: 11px;
        }
      }
    }
  }
  .play-again{
    position: fixed;
    width: 90%;
    max-width: 675px;
    top: 50%;
    z-index: 99;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(31, 31, 31);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    h2{
      font-size: 50px;
      font-weight: bold;
      color: #fff;
      background: #d28bff;
      padding: 4.5% 0;
      @include sp{
        font-size: 25px;
      }
    }
    .txt{
      font-size: 22px;
      font-weight: bold;
      padding: 5% 0 4%;
      line-height: (32/22);
      @include sp{
        font-size: 11px;
      }
    }
    ul{
      display: flex;
      justify-content: space-between;
      padding: 0 9% 10%;
      li{
        width: 48%;
       &:first-child{
        &::after{
          background: #8dc3f5;
         }
       }
        span{
          position: relative;
          color: #fff;
          z-index: 3;
          font-weight: bold;
          font-size: 50px;
          bottom: 0;
          line-height: 1;
          @include transition;
          @include sp{
            font-size: 25px;
          }
        }
        @include hover{
          span{
            bottom: -10px;
          }
        }
      }
    }


  }
}
