@charset "utf-8";

@import "base/_setting.scss";

//------------------------------------------------------------------------------
//
//	First
//
//------------------------------------------------------------------------------
.home {
  background: url(../assets/images/bg.jpg) repeat-y center center/100%;
}
.l-page-top {
  position: relative;
  &__first {
    position: relative;
    z-index: 1;
    background: $blue;
    color: #fff;
    overflow: hidden;
    text-align: center;
    padding: 4% 0 6%;
    &::before {
      content: "";
      position: absolute;
      background: #ff9fc3;
      bottom: 0;
      left: 0;
      right: 0;
      transform: rotate(-5deg);
      height: 100%;
      width: 106%;
      top: 43%;
    }
    > * {
      position: relative;
    }
    h2 {
      padding: 10px 0 0;
      margin-bottom: 1%;
      p {
        font-size: 2.6rem;
        margin-bottom: 10px;
        font-weight: normal;
        font-weight: bold;
        @include sp {
          font-size: 1.5rem;
        }
        span {
          font-size: 2rem;
          @include sp {
            font-size: 1rem;
            line-height: 1.5rem;
          }
        }
      }
    }
   
    .txt {
      font-size: 2.2rem;
      font-weight: bold;
      line-height: (30/22);
      @include sp {
        font-size: 1.1rem;
      }
    }
  }
  &__content {
    padding: 55px 0;
    overflow: hidden;
    position: relative;
    @include sp {
      padding: 47px 0;
    }
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $blueaqua;
      height: 31%;
    }
    .photo {
      width: 100%;
      overflow: scroll;
      text-align: center;
      margin-bottom: 5%;
      position: relative;
      z-index: 1;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      @include sp{
        cursor: pointer;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      img {
        width: 95%;
        max-width: inherit;
        overflow: scroll;
        position: relative;
        @include sp{
          width: 134%;
        }
      }
    }
    .btn_start {
      width: 66.666%;
      margin: auto;
      position: relative;
      img{
        width: 39.8%;
        margin: auto;
        display: block;
      }
    }
  }
}
