@charset "utf-8";
@import "base/_setting.scss";
//------------------------------------------------------------------------------
//
//	tutorial page
//  
//------------------------------------------------------------------------------


.tutorial{
  position: relative;
  .btn-show-step{
    position: absolute;
    top: 2.5%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 9;
    background: #000;
  }
  .popup{
    display: block;
  }
}